body {
    min-width: 270px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 35px;
}

button {
    background-color: #1abc9c;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif !important;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px #000;
    border-radius: 4px;

    &:hover {
        background-color: #16a085;
    }

    &:active {
        box-shadow: 1px 1px #000;
    }

    &:focus {
        border: none;
        outline: none;
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 270px;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-shadow: 2px 2px #000;
}

.calculator__buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.calculator__screen {
    margin-bottom: 20px;
    padding: 20px 15px;
    border: 1px solid silver;
    background-color: aliceblue;
    text-align: right;
    overflow: scroll;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons__numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.buttons__operations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.buttons__other {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.operation_calculate {
    background-color: #3498db;

    &:hover {
        background-color: #2980b9;
    }
}

.operation_reset {
    height: initial;
    background-color: #e74c3c;

    &:hover {
        background-color: #c0392b;
    }
}

@media (min-width: 340px) and (max-width: 615px) {
    .buttons__operations {
        grid-template-columns: repeat(4, 1fr);
    }
}
